# Environments
.conda/
env/
venv/

# Caches
__pycache__/
.cache/
.ipynb_checkpoints/

# Secrets
.env
SD.ipynb
SD-checkpoint.ipynb
tree.py
.ipynb_checkpoints/fixedTreeSD-checkpoint.ipynb
SpecInfer.ipynb
speculative_tree.py

